services:
  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    env_file:
      - ./Backend/.env
    depends_on:
      - mongo
      - redis
    volumes:
      - ./Backend:/app
      - /app/node_modules

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7

  
  mail-service:
    build: ./mail-service
    ports:
      - "4000:4000"
    env_file:
      - ./mail-service/.env
    depends_on:
      - redis
    volumes:
      - ./mail-service:/app   # FIXED TYPO
      - /app/node_modules

  
volumes:
  mongo_data:
